<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ABOUT</title>
    </head>
    <body>
        {{>header}}
        <p>Some text here</p>
        {{>footers}}
    </body>
</html>